{% extends "base.html" %}

{% set bg="class=bgim background=static/images/background.png"%}
{%set list_active="class=active"%}

{% block title %}
Add Stock List
{% endblock title %}

{% block heading%}
Add Stock Names
{% endblock heading%}
{% block content %}
<div style="color: black;">
<form action="add_list" method="POST">
    <label for="stock_list" class="label-tag">Stock List</label>
    <input type="text" name="stock_list" value="" required class="input-form" placeholder="Comma Separated">
    <input type="submit" name="" id="" value="Add" class="button">
</form>
</div>
{% endblock content %}