<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/navbar.css')}}">    <link rel="stylesheet" href="{{url_for('static',filename='css/background.css')}}">    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet"> 
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body {{bg}}>
    <div class="topnav">
        <a {{home_active}} href="{{url_for('home')}}"> Home</a>
        <a {{update_active}} href="{{url_for('update_call')}}">Update</a>
        <a {{plot_active}} href="{{url_for('plot_interface')}}">Plot</a>
        <a {{new_active}} href="{{url_for('add_client.add_stock_form')}}">New</a>
        <a {{list_active}} href="{{url_for('add_client.add_stock_list')}}"> Add Stock List</a>
        <div class='icon'>
            <a class='stocker' href="{{url_for('home')}}">Stocker</a>
        </div>
    </div>
    <h1 class="heading">{% block heading %}{% endblock %}</h1>
    <div class="para">{% block content %}{% endblock %}</div>
</body>
</html>