{% extends "base.html" %}

{% set bg="class=bgim background=static/images/background.png"%}

{%set home_active="class=active"%}

{% block title %}
Home
{% endblock title %}

{% block heading %}
Welcome to Stocker
{% endblock heading %}

{% block content %}
  <div class="dropdown">
    <button class="dropbtn">Database</button>
    <div class="dropdown-content">
      {% for stock in stock_list%}
      <a>{{ stock }}</a>
      {% endfor %}
    </div>
  </div>
<!--

  <a href="{{url_for('merge_client.merge_database')}}">
  <button type="button" class="button">Merge</button>
  </a>


  <div>
    <br>
    <form action="{{url_for('avg_client.moving_avg_all_api')}}" method="post">
      <input type="text" value="" placeholder="Period (Days)" name="days" class="input-form" required> <br>
      <input type="submit" value="Moving Average" class="button button-submit">
    </form>
  </div>

-->
{% endblock content%}