{% block javascript %}
  <script type="text/javascript" src="{{url_for('static',filename='js/selectAll.js')}}">
  </script>
{% endblock %}

{% extends "base.html" %}

{% set bg="class=bgim background=static/images/background.png"%}

{% set operations_active="class=active"%}

{% block title%}
Operations
{% endblock title%}

{% block heading %}
Data Operations 
{% endblock heading%}

{% block content %}
  <form action="{{url_for('operations_interface')}}" method="post" class="form">

    <div class="dropdown">
      <button type="reset" class="dropbtn dropdown-big">Stock List</button>
      <div class="dropdown-content">
        <a><input type="checkbox" id="select_all_checkbox" checked="checked">Select All</a>
        {% for stock in stock_list%}
        <a><input type="checkbox" name="stock_name" class="stock_checkbox" value="{{stock}}" checked="checked">{{ stock }}</a>
        {% endfor %}
      </div>
    </div>

    <div>
        <br>
        <label for="Download" class="label-tag">1.Download Data </label> <br>
        <input type="submit" name="operation" value="Download" class="button">

        <br>
        <div class="dropdown small-dropdown">
            <button class="dropbtn">Range</button>
            <div class="dropdown-content">
              <a> <input name="range" type="radio" value="1d">  1 Day</a>
              <a> <input name="range" type="radio" value="5d">  5 Day</a>
              <a> <input name="range" type="radio" value="1mo"> 1 Month</a>
              <a> <input name="range" type="radio" value="3mo"> 3 Months</a>
              <a> <input name="range" type="radio" value="6mo"> 6 Months</a>
              <a> <input name="range" type="radio" value="1y">  1 Year</a>
              <a> <input name="range" type="radio" value="2y">  2 Years</a>
              <a> <input name="range" type="radio" value="5y">  5 Years</a>
              <a> <input name="range" type="radio" value="10y"> 10 Years</a>
              <a> <input name="range" type="radio" value="max"> Maximum</a>
              <a> <input name="range" type="radio" value="ytd"> YTD</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Interval</button>
            <div class="dropdown-content">
              <a> <input name="interval" type="radio" value="1m">  1 min</a>
              <a> <input name="interval" type="radio" value="2m">  2 min</a>
              <a> <input name="interval" type="radio" value="5m"> 5 min</a>
              <a> <input name="interval" type="radio" value="15m"> 15 min</a>
              <a> <input name="interval" type="radio" value="30m"> 30 min</a>
              <a> <input name="interval" type="radio" value="60m">  60 min</a>
              <a> <input name="interval" type="radio" value="90m">  90 min</a>
              <a> <input name="interval" type="radio" value="1h">  1 hr</a>
              <a> <input name="interval" type="radio" value="1d"> 1 day</a>
              <a> <input name="interval" type="radio" value="5d"> 5 day</a>
              <a> <input name="interval" type="radio" value="1wk"> 1 week</a>
              <a> <input name="interval" type="radio" value="1mo"> 1 month</a>
              <a> <input name="interval" type="radio" value="3mo"> 3 month</a>

            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn">Column</button>
            <div class="dropdown-content">
              <a> <input name="output_type" type="radio" value="high">High</a>
              <a> <input name="output_type" type="radio" value="low">Low</a>
              <a> <input name="output_type" type="radio" value="close">Close</a>
              <a> <input name="output_type" type="radio" value="open">Open</a>
              <a> <input name="output_type" type="radio" value="avg">Average</a>
              <a> <input name="output_type" type="radio" value="adj_close">Adjusted Close</a>
              <a> <input name="output_type" type="radio" value="volume">Volume</a>

            </div>
        </div>

        <div>
          <br>
          <label for="input-form" class="label-tag">2.Create Data with Moving Average Values</label> <br>
          
          <input type="text" placeholder="Period (Days)" name="text_input" value="" class="input-form"> <br>
          <input type="submit" name="operation" value="Moving Average" class="button button-submit">
          <br>
          <input type="radio" name="moving_avg_type" value="sma" checked="checked"> SMA  
          <input type="radio" name="moving_avg_type" value="ema" data-attrib="hi"> EMA
        
        </div>

        <br>
        <label for="Merge" class="label-tag">3.Merge Moving Average Data.</label><br>
        <input type="submit" name="operation" value="Merge" class="button"> 

    </div>
  </form>

  <div class="message-box">
    {% for ms in message %}
    <h4>{{ ms }}</h4>
    {% endfor %}
  </div>
{% endblock content %}