{% extends "base.html" %}

{% set bg="class=bgim background=static/images/background.png"%}

{% set operations_active="class=active"%}

{% block title%}
Operations
{% endblock title%}

{% block heading %}
Data Operations 
{% endblock heading%}

{% block content %}
  <form action="{{url_for('operations_interface')}}" method="post" class="form">

    <div class="dropdown">
      <button type="reset" class="dropbtn">Stock List</button>
      <div class="dropdown-content">
        {% for stock in stock_list%}
        <a><input type="checkbox" name="{{stock}}">{{ stock }}</a>
        {% endfor %}
      </div>
    </div>

    <div>
        <input type="submit" name="merge_stock_list" value="Merge" class="button"> 
        <input type="submit" name="download_stock_list" value="Download" class="button">
    </div>
  </form>

  <div class="message-box">
    {% for ms in message %}
    <h4>{{ ms }}</h4>
    {% endfor %}
  </div>
{% endblock content %}